<h1>Staff Careers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @careers.each do |career| %>
      <tr>
        <td><%= career.name %></td>
        <td><%= link_to 'Show', staff_career_path(career) %></td>
        <td><%= link_to 'Edit', edit_staff_career_path(career) %></td>
        <td><%= link_to 'Destroy', staff_careers_url(career), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff Career', new_staff_career_path %>
