<div class="container pt-4">
  <div class="d-flex justify-content-end mb-3">
    <%= link_to 'Volver', staff_careers_path, class: 'btn btn-link' %>
    <%= link_to 'Editar', edit_staff_career_path(@career), class: 'btn btn-warning' %>
  </div>
  <h1 class="display-3"><%= @career.name %></h1>
  <p class="text-muted h2 mb-4">Información</p>

  <div class="">
    <h3 class="h6">Nombre</h3>
    <p><%= @career.name %></p>
  </p>
  <section class="mt-5 bg-light rounded-3 p-5">
    <% if @subjects.any? %>
    <h2 class="mb-4">Asignaturas</h2>
      <% @subjects.each do |subject| %>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= subject.name %></h5>
              <ul class="card-text">
                <li><strong>Trayecto:</strong> <%= subject.course.name %></li>
                <li><strong>UC:</strong> <%= subject.curricular_units %></li>
                <li><strong>Duración:</strong> <%= subject.duration %></li>
                <li><strong>Tipo:</strong> <%= subject.subject_type %></li>
              </ul>
            </div>
            <div class="card-footer">
              <%= link_to 'Ver mas', staff_subject_path(subject), class: "link-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="display-3 text-muted">No hay ninguna asignatura activa para esta carrera</p>
      <%= link_to 'Registrar', new_staff_subject_path, class: 'btn btn-outline-primary' %>
    <% end %>
  </section>
</div>