<%= form_with(model: [:department, period]) do |form| %>
  <% if period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(period.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
        <% period.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, 'Nombre', class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :start, 'Inicio', class: 'form-label' %>
    <%= form.date_field :start, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :finish, 'Fin', class: 'form-label' %>
    <%= form.date_field :finish, class: 'form-control' %>
  </div>

  <div class="form-check form-switch mb-3">
    <%= form.check_box :status, class: 'form-check-input', checked: true %>
    <%= form.label :status, 'Estado', class: 'form-check-label' %>
  </div>

  <div class="actions d-flex flex-row-reverse mb-3">
    <%= form.submit 'Enviar', class: 'btn btn-primary' %>
  </div>
<% end %>
