<div class="container">
  <h1 class="display-1">Docentes</h1>
  
  <section>
    <div class="d-flex justify-content-between align-items-center">
      <h2>Docentes en carrera</h2>
      <%= link_to 'Nuevo', new_staff_teacher_career_path, class: 'btn btn-outline-primary' %>
    </div>
    <div>
      <% @careers.each do |career| %>
        <h3><%= career.name %></h3>
        <% if career.teacher_careers.any? %>
          <ul class="list-group list-group-flush mb-4">
            <% career.teacher_careers.order(:status).each do |teacher_career| %>
              <li class="d-flex justify-content-between list-group-item">
                <div>
                <%= link_to "#{teacher_career.teacher.surname} #{teacher_career.teacher.name}", staff_teacher_path(teacher_career.teacher_id), class: 'link-secondary' %>
                <% if teacher_career.status %>
                  <small class="text-success">Activo*</small>
                <% else %>
                  <small class="text-danger">Inactivo*</small>
                <% end %>
                </div>
                <div>
                  <%= link_to 'Mas detalles', staff_teacher_career_path(teacher_career) %> |
                  <%= link_to 'Editar', edit_staff_teacher_career_path(teacher_career) %> |
                  <%= link_to 'Eliminar', staff_teacher_career_path(teacher_career), method: :delete, data: { confirm: 'Estas seguro?' } %>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-muted mb-4">No has registrado a ningun docente para esta carrera</p>
        <% end %>
      <% end %>
      <h3></h3>
    </div>
  </section>
</div>