<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%= link_to root_path do %>
                  <i class="fas fa-home"></i>
                <% end %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to root_path do %>
                  Inicio
                <% end %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to staff_root_path do %>
                  Panel administrativo
                <% end %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to staff_teacher_careers_path do %>
                  Docentes carreras
                <% end %>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Agregar</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--6">
    <section class="card">
        <div class="card-header border-0">
            <h2 class="mb-0" >Agregar docente a carrera</h2>
        </div>
        <div class="px-4">
          <%= render 'form', teacher_career: @teacher_career %>
        </div>
    </section>
</div>