<%= form_with(model: [:department, academic_charge]) do |form| %>
  <% if academic_charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(academic_charge.errors.count, "error") %> prohibited this academic_charge from being saved:</h2>

      <ul>
        <% academic_charge.errors.each do |academic_charge| %>
          <li><%= academic_charge.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :teacher_career_id, 'Docente', class: 'form-label'  %>
    <%= form.collection_select :teacher_career_id, TeacherCareer.where(teacher: Teacher.where(status: true), career: @career).joins(:teacher).select(:id, :name), :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :section_id, 'Seccion', class: 'form-label'  %>
    <%= form.collection_select :section_id, Section.where(period: Period.where(status: true)), :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :subject_id, 'Seccion', class: 'form-label'  %>
    <%= form.collection_select :subject_id, Subject.where(career: @career), :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :obsevation, 'Observación', class: 'form-label' %>
    <%= form.text_area :obsevation, class: 'form-control', rows: 3 %>
  </div>

  <div class="actions d-flex flex-row-reverse mb-3">
    <%= form.submit 'Enviar', class: 'btn btn-primary' %>
  </div>
<% end %>