<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%= link_to root_path do %>
                  <i class="fas fa-home"></i>
                <% end %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to root_path do %>
                  Inicio
                <% end %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to staff_root_path do %>
                  Panel administrativo
                <% end %>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Docentes</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <%= link_to 'Nuevo', new_staff_teacher_path, class: "btn btn-neutral" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <section class="card">
    <div class="card-header border-0">
      <h2 class="mb-0" >Docentes registrados</h2>
    </div>
    <table class="table table-borderless table-hover table-bordered">
      <thead>
        <tr>
          <th>Identificación</th>
          <th>Nombres</th>
          <th>Capacitado</th>
          <th>Estado</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @teachers.each do |teacher| %>
          <tr>
            <td><%= teacher.id_type.name %> - <%= teacher.id_number %></td>
            <td><%= teacher.surname %> <%= teacher.name %></td>
            <td>
              <% teacher.careers.each do |career| %>
                <%= career.name %>
              <% end %>
            </td>
            <td>
              <% if teacher.status %>
                <span class="text-success">Activo</span>
              <% else %>
                <span class="text-danger">Inactivo</span>
              <% end %>
            </td>
            <td>
              <%= link_to 'Mostrar', staff_teacher_path(teacher) %> | 
              <%= link_to 'Editar', edit_staff_teacher_path(teacher) %> | 
              <%= link_to 'Eliminar', staff_teacher_path(teacher), method: :delete, data: { confirm: 'Estas seguro?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>