<div class="container">
  <h1 class="display-1">Docentes</h1>
  
  <section>
    <div class="d-flex justify-content-between align-items-center">
      <h2>Docentes registrados</h2>
      <%= link_to 'Nuevo', new_staff_teacher_path, class: 'btn btn-outline-primary' %>
    </div>
    <div class="px-5">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Identificación</th>
            <th>Nombres</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @teachers.each do |teacher| %>
            <tr>
              <td><%= teacher.id %></td>
              <td><%= teacher.id_type.name %> - <%= teacher.id_number %></td>
              <td><%= teacher.surname %> <%= teacher.name %></td>
              <td><%= teacher.status %></td>
              <td>
              <%= link_to 'Edit', edit_staff_teacher_path(teacher) %> | 
              <%= link_to 'Destroy', staff_teacher_path(teacher), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>
