<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%= link_to root_path do %>
                  <i class="fas fa-home"></i>
                <% end %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to root_path do %>
                  Inicio
                <% end %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to staff_root_path do %>
                  Panel administrativo
                <% end %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to staff_teachers_path do %>
                  Docentes
                <% end %>
              </li>
              <li class="breadcrumb-item active" aria-current="page"><%= @teacher.name %></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <%= link_to 'Editar', edit_staff_teacher_path(@teacher), class: "btn btn-neutral" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <section class="card">
    <div class="card-header border-0">
      <h1 class="mb-0" ><%= @teacher.name %> <%= @teacher.surname %></h1>
    </div>
    <div class="card-body">
      <div class="">
      <h3 class="h6">Identificaci贸n</h3>
      <p><%= @teacher.id_type.name %> - <%= @teacher.id_number %></p>
    </div>
    <div class="">
      <h3 class="h6">Nombres</h3>
      <p><%= @teacher.name %> <%= @teacher.surname %></p>
    </p>
    <div class="">
      <h3 class="h6">Fecha de nacimiento</h3>
      <p><%= @teacher.birth_date %></p>
    </div>

    <div class="">
      <h3 class="h6">Fecha de contrato</h3>
      <p><%= @teacher.hire_date || 'No definido' %></p>
    </div>
    <div class="">
      <h3 class="h6">Fecha regular</h3>
      <p><%= @teacher.ordinary_date || 'No definido' %></p>
    </div>
    <div class="">
      <h3 class="h6">Estado</h3>
      <% if @teacher.status %>
        <p class="text-success">Activo</p>
      <% else %>
        <p class="text-danger">Inactivo</p>
      <% end %>
    </div>
    <div class="">
      <h3 class="h6">Observaci贸n</h3>
      <p><%= @teacher.obsevation || 'No definido' %></p>
    </div>
  </section>

  <% if @teacher.teacher_degrees.any? %>
    <section class="card">
      <div class="card-header border-0">
        <h2 class="mb-0" >Certificados y titulos</h2>
      </div>
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>  
          <% @teacher.teacher_degrees.each do |degree|%>
            <tr>
              <td><%= degree.name %></td>
              <td><%= degree.degree_type %></td>
              <td><%= degree.status ? 'Finalizado' : 'En proceso' %></td>
              <td><%= link_to 'Ver mas', staff_teacher_degree_path(degree) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>

  <% if @teacher.careers.any? %>
    <section>
      <h2>Carreras</h2>
      <div class="d-flex flex-row">
        <% @teacher.careers.each do |career| %>
          <% teacher_career = TeacherCareer.find_by(career_id: career.id) %>
          <div class="card me-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= career.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= link_to 'Mostrar informaci贸n', staff_teacher_career_path(teacher_career.id) %></h6>
              <p class="card-text"><%= teacher_career.observation? ? teacher_career.observation : 'No tiene ninguna observaci贸n' %></p>
              <%= link_to 'Editar', edit_staff_teacher_career_path(teacher_career), class: 'btn btn-warning' %>
              <%= link_to 'Eliminar', staff_teacher_career_path(teacher_career), method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-outline-danger' %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</div>