<h1>Department Sections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Trimester</th>
      <th>Shift</th>
      <th>Course</th>
      <th>Period</th>
      <th>Career</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.name %></td>
        <td><%= section.trimester %></td>
        <td><%= section.shift %></td>
        <td><%= section.course_id %></td>
        <td><%= section.period_id %></td>
        <td><%= section.career_id %></td>
        <td><%= link_to 'Show', department_section_path(section) %></td>
        <td><%= link_to 'Edit', edit_department_section_path(section) %></td>
        <td><%= link_to 'Destroy', department_section_path(section), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department Section', new_department_section_path %>
