<!DOCTYPE html>
<html>
  <head>
    <title>UpttmbiOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-success m-0" role="alert"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger m-0" role="alert"><%= alert %></div>
    <% end %>

    <% if current_user %>
      <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
          <a class="d-flex align-items-center navbar-brand" href="/">
            <%= image_tag 'upttmbi-logo.svg', height: "40" %>
            <p class="m-0 ms-2 text-muted "><%= current_user.email %></p>
          </a>
          <%= link_to('Salir',  destroy_user_session_path, :method => 'delete', class: 'btn btn-danger') %>
        </div>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
