<!DOCTYPE html>
<html>
  <head>
    <title>UpttmbiOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Docentes</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <%= link_to 'Listar', staff_teachers_path, class: "nav-link" %>
                            </li>
                            <li>
                                <%= link_to 'Agregar', new_staff_teacher_path, class: "nav-link" %>
                            </li>
                            <li>
                                <%= link_to 'Información academica', staff_teacher_degrees_path, class: "nav-link" %>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Carreras</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <%= link_to 'Listar', staff_careers_path, class: "nav-link" %>
                            </li>
                            <li>
                                <%= link_to 'Agregar', new_staff_career_path, class: "nav-link" %>
                            </li>
                            <li>
                                <%= link_to 'Docentes', staff_teacher_careers_path, class: "nav-link" %>
                            </li>
                            <li>
                                <%= link_to 'Asignaturas', staff_subjects_path, class: "nav-link" %>
                            </li>
                        </ul>
                    </li>
                    <li>
                        
                        <%= link_to 'Usuarios', staff_subjects_path, class: "nav-link px-0 mt-4 align-middle" %>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Administrador</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <%= link_to('Cerrar sesión',  destroy_user_session_path, :method => 'delete', class: 'dropdown-item') %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <% if notice %>
                <div class="alert alert-success m-0" role="alert"><%= notice %></div>
            <% end %>
            <% if alert %>
                <div class="alert alert-danger m-0" role="alert"><%= alert %></div>
            <% end %>
          <%= yield %>
        </div>
    </div>
  </body>
</html>
